
.banner {
  padding: 50px 200px 200px 200px;
  background-size: cover;
  opacity:0.8;
}

.banner-text h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.banner-text h2 {
  color: #263d51;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.btn-sign-up {
  border: 1px solid #263d51;
  font-weight: lighter;
  padding: 15px 25px;
  border-radius: 50px;
  opacity: 0.6;
  color: #263d51;
}

.btn-sign-up:hover {
  border: 1px solid black;
  color: black;
}
